.filter-container h1 {
  margin: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.filter {
  display: flex;
  align-items: center;
}

select {
  padding: 10px;
  margin-left: 10px;
}

.filter-text {
  font-size: 20px;
}

@media screen and (max-width: 360px) {
  .filter-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .filters{
    gap: 20px;
  }

  .filter{
    justify-content: space-between;
  }
}

