.filter {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.filter-container{
  width: 100%;
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  gap: 10px;
}

.filter:nth-of-type(2){
  margin-left: 70px;
}


.filter h3 {
  font-size: 20px;
  font-weight: 600;
}

.f-color {
  width: 20px;
  height: 20px;
  border-radius: 30%;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid bisque;
}

.sp-wrapper {
  width: 100%;
  height: 100vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sp-image-container {
  flex: 1;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.img-slide{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
}

.img-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sp-info-container {
  flex: 1;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.sp-title {
  font-weight: 200;
}

.sp-desc {
  margin: 20px 0;
}

.price {
  font-size: 40px;
  font-weight: 400;
  display: flex;
  gap: 40px;
}

.add-to-cart {
  width: 90%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.amount-container {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(100, 205, 205);
  margin: 0 5px;
}

.a-icon {
  border: none;
}

.add,
.remove {
  width: 20px;
  height: 10px;
  background-color: teal;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0 5px;
}

.add-cart {
  display: flex;
  width: 150px;
  font-size: 12px;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid rgb(100, 205, 205);
  cursor: pointer;
  background-color: #000;
}

.add-cart:hover {
  background-color: rgb(100, 205, 205);
  color: #fff;
}

@media screen and (max-width: 328px) {
  .sp-wrapper {
    flex-direction: column;
    padding: 10px;
  }

  .sp-image-container img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .sp-info-container {
    width: 100%;
    margin: auto;
    padding: 10px;
  }

  .sp-title {
    display: block;
    text-align: center;
  }

  .sp-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .add-cart {
    width: 120px;
    height: 40px;
  }

  button {
    padding: 5px;
  }

  .add-to-cart {
    width: 100%;
    gap: 20px;
  }

  .n-container {
    padding: 0 10px;
    width: 90%;
    margin: 10px 20px;
  }

  .n-desc {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }

  .input-container {
    width: 70%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .c-title {
    width: 100%;
    text-align: center;
  }

  .f-center {
    margin: 0;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
  }

  .r-title {
    text-align: center;
  }

  .r-info {
    align-items: center;
    justify-content: center;
  }

  .mail {
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .f-left {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
